@charset "utf-8";

/* Declare web fonts ::LGFont, LGIcon */
@font-face {
    font-family:'LG_Display';font-weight:200;
    src:url('font/LG_Smart_UI-Light.eot');
    src:url('font/LG_Smart_UI-Light.eot?#iefix') format('embedded-opentype'),
    url('font/LG_Smart_UI-Light.woff') format('woff'),
    url('font/LG_Smart_UI-Light.ttf') format('truetype');
}
@font-face {
    font-family:'LG_Display';font-weight:400;
    src:url('font/LG_Smart_UI-SemiBold.eot');
    src:url('font/LG_Smart_UI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('font/LG_Smart_UI-SemiBold.woff') format('woff'),
    url('font/LG_Smart_UI-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family:'LG_Display';font-weight:600;
  src:url('font/LG_Smart_UI-Bold.eot');
  src:url('font/LG_Smart_UI-Bold.eot?#iefix') format('embedded-opentype'),
  url('font/LG_Smart_UI-Bold.woff') format('woff'),
  url('font/LG_Smart_UI-Bold.ttf') format('truetype');
}

html,body {margin:0; padding:0; border:0;}
* {
    margin:0; 
    padding:0; 
    -webkit-text-size-adjust:none; 
    box-sizing:border-box; 
    word-break:break-all; 
    font-family:'LG_Display', Helvetica, Apple-Gothic, Droid Sans, sans-serif,Dotum, Tahoma, 'Malgun Gothic';
    color: inherit;
    font-weight:400;
    letter-spacing:-0.5px;
  }   
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,p{
  margin:0px;padding:0px;
  list-style:none;
  vertical-align:top;
}
span{vertical-align:top}
a{vertical-align:top; color:#555555; text-decoration:none;}
a:hover {}
table{width:100%;}
table, tr, td, th {border-collapse:collapse;border-spacing:0px;padding:0px;margin:0;}
select {font-size:13px; padding:1px; height:20px;color:#353535}
fieldset,dl,dd,dt,img{border:0;vertical-align:top;}
address,em{font-style:normal }
hr,legend,caption{display:none;}
button,label{cursor:pointer; background: none; border: none; padding: 0; margin: 0;}
button {border: none; padding: 0; margin: 0; /*font-weight: bold;*/}
i { vertical-align: middle; }
b{font-weight:bold;}
strong{font-weight:bold;}
caption{display:none}
:focus, input[type=text]:focus, textarea:focus, input[type=password]:focus, input[type=number]:focus, input:focus, button:focus, select:focus, a:focus{outline:none !important;border-color:#00a99d !important;}
.has_error :focus, .has_error input[type=text]:focus, .has_error textarea:focus, .has_error input[type=password]:focus, .has_error input[type=number]:focus, .has_error input:focus, .has_error button:focus, .has_error select:focus, .has_error a:focus{outline:none !important;border-color:#e63d3d !important;}
td:focus{border-color:#e7ebf6 !important;}

/*input*/
input, input[type=text], input[type=password] {background:#ffffff; width:187px; height:33px; padding:0 10px; font-size:14px; line-height:31px; color:#707789; vertical-align:middle; border:1px solid #bfc8e0;border-radius:4px;font-family:'LG_Display', Helvetica, Apple-Gothic, Droid Sans, sans-serif,Dotum, Tahoma, 'Malgun Gothic';}
textarea {background:#ffffff; width:100%; height:100px; padding:4px 0 1px 10px; color:#4c5364;font-size:14px; vertical-align:middle; border:1px solid #bfc8e0;border-radius:4px;}
input[type=text]:hover, input[type=password]:hover, textarea:hover {border:1px solid #89b4d3;}
:disabled, input[type=text]:read-only,  input[type=text]:disabled, input[type=password]:disabled{background:#eaedf5;cursor:default;}
.disable, .readyOnly, .readOnly{background:#eaedf5 !important;cursor:default;}
select {border:1px solid #bfc8e0;border-radius:4px;height:33px !important;padding:2px 25px 1px 4px;font-size:14px;color:#4c5364;vertical-align: middle;line-height:28px;background:url(../../../src/resource/images/common/arrow_down.png) #ffffff right 10px top 50% no-repeat;-webkit-appearance:none;-moz-appearance:none;}
select::-ms-expand {display: none;}
input[type="file"] {vertical-align:middle; height:22px; width:80%; margin-right:6px;}
input[type="checkbox"],input[type="radio"] { margin:0; padding:0; vertical-align:middle; width:13px; height:13px; line-height:13px;}
label {cursor:pointer; }
input[type=checkbox]{position:absolute;opacity:0;height:0;width:0;}
input[type=checkbox] + label{display:inline-block;position:relative;padding-left:25px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select: none;user-select:none;}
input[type=checkbox] + label:before{position:absolute;display:block;content:'';left:0;top:50%;width:17px;height:17px;border:1px solid #d9d9d9;border-radius:2px;background:#ffffff;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);transition-duration:0.2s;box-sizing:border-box;}
input[type=checkbox] + label:after{position:absolute;display:block;content:'';left:4px;top:50%;width:8px;height:4px;margin-top:-2px;border-left:2px solid transparent;border-bottom:2px solid transparent;transform:translateY(-50%) rotate(-45deg);transition-duration:0.2s;}
input[type=checkbox]:checked + label:before{border-color:#94a3cc;background:#94a3cc;}
input[type=checkbox]:checked + label:after{border-left:2px solid #ffffff;border-bottom:2px solid #ffffff;}
input[type=checkbox]:disabled + label:before{background:#cccccc;}
input[type=checkbox] + label span{display:inline-block;margin-top:2px;font-size:14px;line-height:15px;color:#4c5364;vertical-align:middle;}
.hide {position: absolute; width: 0px; height: 0px; line-height: 1px; left: -9999px; top: -9999px;}
.fll {float: left;}
.text_over{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


input:-moz-placeholder, ::-moz-placeholder{color:rgba(112,119,137,.7) !important;opacity:1}
input:-ms-input-placeholder, ::-ms-input-placeholder{color:rgba(112,119,137,.7) !important;}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder{color:rgba(112,119,137,.7)}
input:-webkit-input-placeholder, ::-webkit-input-placeholder{color:rgba(112,119,137,.7) !important;}
input::placeholder, ::placeholder{color:rgba(112,119,137,.7) !important;}

/* border */
.bt0{border-top:0 !important;}
.bl0{border-left:0 !important;}
.br0{border-right:0 !important;}
.bb0{border-bottom:0 !important;}

/* color */
.color_red{color:#e73d3e !important;}
.color_blue{color:#2565ff !important;}

.bg_gray{background:#f8f9fc;}

/* Font-Size */
.b  {font-weight:bold;}
.nor{font-weight:normal !important;}
.fs9{font-size:9px;}
.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:11px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs21{font-size:21px;}
.fs22{font-size:22px;}
.fs23{font-size:23px;}

/* line-height */
.l3{line-height:3px;}
.l4{line-height:4px;}
.l7{line-height:7px;}
.l12{line-height:12px;}
.l13{line-height:14px;}
.l14{line-height:14px;}
.l16{line-height:16px;}
.l17{line-height:17px;}
.l18{line-height:18px;}
.l19{line-height:19px;}
.l20{line-height:20px;}
.l22{line-height:22px;}
.l24{line-height:24px;}
.l28{line-height:28px;}
.l29{line-height:29px;}

/* Box-Model */
.fl{float:left}
.fr{float:right}
.cl{clear:both}
.display_n{display:none;}
.display_b{display:block !important;}
.position_r{position:relative !important;}
.position_r01{position:relative;}
.position_r02{position:relative;}
.position_a{position:absolute;}
.alC{text-align:center !important;}
.alR{text-align:right !important;}
.alL{text-align:left !important;}
.top{vertical-align:top;}
.txt_bottom{vertical-align:bottom;}
.mid{vertical-align:middle !important;;}
.jt{text-align:justify;}

.p0{padding:0 !important;}
.pt0{padding-top:0 !important;}
.pt1{padding-top:1px !important;}
.pt2{padding-top:2px !important;}
.pt3{padding-top:3px !important;}
.pt4{padding-top:4px !important;}
.pt5{padding-top:5px !important;}
.pt6{padding-top:6px !important;}
.pt7{padding-top:7px !important;}
.pt8{padding-top:8px !important;}
.pt9{padding-top:9px !important;}
.pt10{padding-top:10px !important;}
.pt11{padding-top:11px !important;}
.pt12{padding-top:12px !important;}
.pt13{padding-top:14px !important;}
.pt14{padding-top:14px !important;}
.pt15{padding-top:15px !important;}
.pt17{padding-top:17px !important;}
.pt18{padding-top:18px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt26{padding-top:26px !important;}
.pt27{padding-top:27px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt43{padding-top:43px !important;}
.pt50{padding-top:50px !important;}
.pt60{padding-top:60px !important;}
.pt70{padding-top:70px !important;}
.pt90{padding-top:90px !important;}
.pt36 {padding-top:36px;}
.pt171 {padding-top:171px;}

.pl0{padding-left:0 !important;}
.pl2{padding-left:2px !important;}
.pl3{padding-left:3px !important;}
.pl4{padding-left:4px !important;}
.pl5{padding-left:5px !important;}
.pl6{padding-left:6px !important;}
.pl7{padding-left:7px !important;}
.pl8{padding-left:8px !important;}
.pl9{padding-left:9px !important;}
.pl10{padding-left:10px !important;}
.pl12{padding-left:12px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}

.pr0{padding-right:0 !important;}
.pr3{padding-right:3px !important;}
.pr5{padding-right:5px !important;}
.pr6{padding-right:6px !important;}
.pr8{padding-right:8px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr18{padding-right:18px !important;}
.pr20{padding-right:20px !important;}
.pr26{padding-right:26px !important;}
.pr30{padding-right:30px !important;}
.pr31{padding-right:31px !important;}
.pr32{padding-right:32px !important;}
.pr33{padding-right:33px !important;}
.pr34{padding-right:34px !important;}
.pr35{padding-right:35px !important;}
.pr60{padding-right:60px !important;}
.pr70{padding-right:70px !important;}

.pb0{padding-bottom:0px !important;}
.pb2{padding-bottom:2px !important;}
.pb3{padding-bottom:3px !important;}
.pb4{padding-bottom:4px !important;}
.pb5{padding-bottom:5px !important;}
.pb7{padding-bottom:7px !important;}
.pb10{padding-bottom:10px !important;}
.pb13{padding-bottom:14px !important;}
.pb15{padding-bottom:15px !important;}
.pb17{padding-bottom:17px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb70{padding-bottom:40px !important;}

.mt0{margin-top:0px !important;}
.mt1{margin-top:1px !important;}
.mt2{margin-top:2px !important;}
.mt3{margin-top:3px !important;}
.mt4{margin-top:4px !important;}
.mt5{margin-top:5px !important;}
.mt6{margin-top:6px !important;}
.mt7{margin-top:7px !important;}
.mt8{margin-top:8px !important;}
.mt9{margin-top:9px !important;}
.mt10{margin-top:10px !important;}
.mt11{margin-top:11px !important;}
.mt12{margin-top:12px !important;}
.mt13{margin-top:14px !important;}
.mt15{margin-top:15px !important;}
.mt17{margin-top:17px !important;}
.mt18{margin-top:18px !important;}
.mt20{margin-top:20px !important;}
.mt22{margin-top:22px !important;}
.mt23{margin-top:23px !important;}
.mt24{margin-top:24px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt33{margin-top:33px !important;}
.mt35{margin-top:35px !important;}
.mt36{margin-top:36px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt49{margin-top:49px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt75{margin-top:75px !important;}
.mt80{margin-top:80px !important;}
.mt100{margin-top:100px !important;}

.mr0{margin-right:0px !important;}
.mr1{margin-right:1px !important;}
.mr2{margin-right:2px !important;}
.mr3{margin-right:3px !important;}
.mr4{margin-right:4px !important;}
.mr5{margin-right:5px !important;}
.mr6{margin-right:6px !important;}
.mr7{margin-right:7px !important;}
.mr8{margin-right:8px !important;}
.mr9{margin-right:9px !important;}
.mr10{margin-right:10px !important;}
.mr12{margin-right:12px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr28{margin-right:28px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr37{margin-right:37px !important;}
.mr38{margin-right:38px !important;}
.mr53{margin-right:53px !important;}
.mr55{margin-right:55px !important;}

.ml0{margin-left:0px !important;}
.ml1{margin-left:1px !important;}
.ml2{margin-left:2px !important;}
.ml3{margin-left:3px !important;}
.ml4{margin-left:4px !important;}
.ml5{margin-left:5px !important;}
.ml6{margin-left:6px !important;}
.ml7{margin-left:7px !important;}
.ml8{margin-left:8px !important;}
.ml10{margin-left:10px !important;}
.ml11{margin-left:11px !important;}
.ml12{margin-left:12px !important;}
.ml15{margin-left:15px !important;}
.ml17{margin-left:17px !important;}
.ml18{margin-left:18px !important;}
.ml20{margin-left:20px !important;}
.ml22{margin-left:22px !important;}
.ml23{margin-left:23px !important;}
.ml25{margin-left:25px !important;}
.ml28{margin-left:28px !important;}
.ml29{margin-left:29px !important;}
.ml30{margin-left:30px !important;}
.ml32{margin-left:32px !important;}
.ml35{margin-left:35px !important;}
.ml37{margin-left:37px !important;}
.ml40{margin-left:40px !important;}
.ml41{margin-left:41px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}
.ml53{margin-left:53px !important;}
.ml60{margin-left:60px !important;}
.ml70{margin-left:70px !important;}
.ml80{margin-left:80px !important;}
.ml90{margin-left:90px !important;}
.mml20{margin-left:-20px !important;}

.mb0{margin-bottom:0px !important;}
.mb1{margin-bottom:1px !important;}
.mb2{margin-bottom:2px !important;}
.mb4{margin-bottom:4px !important;}
.mb5{margin-bottom:5px !important;}
.mb6{margin-bottom:6px !important;}
.mb7{margin-bottom:7px !important;}
.mb8{margin-bottom:8px !important;}
.mb9{margin-bottom:9px !important;}
.mb10{margin-bottom:10px !important;}
.mb11{margin-bottom:11px !important;}
.mb12{margin-bottom:12px !important;}
.mb13{margin-bottom:13px !important;}
.mb14{margin-bottom:14px !important;}
.mb15{margin-bottom:15px !important;}
.mb18{margin-bottom:18px !important;}
.mb20{margin-bottom:20px !important;}
.mb22{margin-bottom:22px !important;}
.mb25{margin-bottom:25px !important;}
.mb28{margin-bottom:28px !important;}
.mb30{margin-bottom:30px !important;}
.mb33{margin-bottom:33px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}
.mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;}
.mb70{margin-bottom:70px !important;}
.mb75{margin-bottom:75px !important;}
.mb100{margin-bottom:100px !important;}
.mb110{margin-bottom:110px !important;}

/*percent and em*/
.t5p {top: 5% !important;}
.t10p {top: 10% !important;}
.t15p {top: 15% !important;}
.t20p {top: 20% !important;}
.t25p {top: 25% !important;}
.t30p {top: 30% !important;}
.t35p {top: 35% !important;}
.t40p {top: 40% !important;}
.t45p {top: 45% !important;}
.t50p {top: 50% !important;}
.t55p {top: 55% !important;}
.t60p {top: 60% !important;}
.t65p {top: 65% !important;}
.t70p {top: 70% !important;}
.t75p {top: 75% !important;}
.t80p {top: 80% !important;}
.t85p {top: 85% !important;}
.t90p {top: 90% !important;}
.t95p {top: 95% !important;}
.t100p {top: 100% !important;}

.l10p {left: 10% !important;}
.l20p {left: 20% !important;}
.l30p {left: 30% !important;}
.l40p {left: 40% !important;}
.l50p {left: 50% !important;}
.l60p {left: 60% !important;}
.l70p {left: 70% !important;}
.l80p {left: 80% !important;}
.l90p {left: 90% !important;}
.l100p {left: 100% !important;}

.r10p {right: 10% !important;}

.w1p {width:1%!important;}
.w2p {width:2%!important;}
.w3p {width:3%!important;}
.w4p {width:4%!important;}
.w5p {width:5%!important;}
.w6p {width:6%!important;}
.w7p {width:7%!important;}
.w8p {width:8%!important;}
.w9p {width:9%!important;}
.w10p {width:10%!important;}
.w11p {width:11%!important;}
.w12p {width:12%!important;}
.w13p {width:13%!important;}
.w14p {width:14%!important;}
.w15p {width:15%!important;}
.w16p {width:16%!important;}
.w17p {width:17%!important;}
.w18p {width:18%!important;}
.w19p {width:19%!important;}
.w20p {width:20%!important;}
.w21p {width:21%!important;}
.w22p {width:22%!important;}
.w23p {width:23%!important;}
.w24p {width:24%!important;}
.w25p {width:25%!important;}
.w26p {width:26%!important;}
.w27p {width:27%!important;}
.w28p {width:28%!important;}
.w29p {width:29%!important;}
.w30p {width:30%!important;}
.w31p {width:31%!important;}
.w32p {width:32%!important;}
.w33p {width:33%!important;}
.w34p {width:34%!important;}
.w35p {width:35%!important;}
.w36p {width:36%!important;}
.w37p {width:37%!important;}
.w38p {width:38%!important;}
.w39p {width:39%!important;}
.w40p {width:40%!important;}
.w41p {width:41%!important;}
.w42p {width:42%!important;}
.w43p {width:43%!important;}
.w44p {width:44%!important;}
.w45p {width:45%!important;}
.w46p {width:46%!important;}
.w47p {width:47%!important;}
.w48p {width:48%!important;}
.w49p {width:49%!important;}
.w50p {width:50%!important;}
.w51p {width:51%!important;}
.w52p {width:52%!important;}
.w53p {width:53%!important;}
.w54p {width:54%!important;}
.w55p {width:55%!important;}
.w56p {width:56%!important;}
.w57p {width:57%!important;}
.w58p {width:58%!important;}
.w59p {width:59%!important;}
.w60p {width:60%!important;}
.w61p {width:61%!important;}
.w62p {width:62%!important;}
.w63p {width:63%!important;}
.w64p {width:64%!important;}
.w65p {width:65%!important;}
.w66p {width:66%!important;}
.w67p {width:67%!important;}
.w68p {width:68%!important;}
.w69p {width:69%!important;}
.w70p {width:70%!important;}
.w71p {width:71%!important;}
.w72p {width:72%!important;}
.w73p {width:73%!important;}
.w74p {width:74%!important;}
.w75p {width:75%!important;}
.w76p {width:76%!important;}
.w77p {width:77%!important;}
.w78p {width:78%!important;}
.w79p {width:79%!important;}
.w80p {width:80%!important;}
.w81p {width:81%!important;}
.w82p {width:82%!important;}
.w83p {width:83%!important;}
.w84p {width:84%!important;}
.w85p {width:85%!important;}
.w86p {width:86%!important;}
.w87p {width:87%!important;}
.w88p {width:88%!important;}
.w89p {width:89%!important;}
.w90p {width:90%!important;}
.w91p {width:91%!important;}
.w92p {width:92%!important;}
.w93p {width:93%!important;}
.w94p {width:94%!important;}
.w95p {width:95%!important;}
.w96p {width:96%!important;}
.w97p {width:97%!important;}
.w98p {width:98%!important;}
.w99p {width:99%!important;}
.w100p {width:100%!important;}